// General Styles
html,.body { margin: 0 auto; }
.btn {
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  font-size: 1em;
  padding: 0.75em 1.5em;
  &:hover {
    cursor: pointer;
  }
}
.btn-primary {
  background-color: $color-primary;
  color: $color-white;
}
.btn-secondary {
  background-color: $color-white;
  color: $color-primary;
}
.social-menu-item {
  display: inline-block;
  text-align: center;
  padding: 0.65em 0;
  i {
    color: $color-white;
    display: inline-block;
    font-size: 1.5rem;
  }
}

// Nav bar
.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  width: 50% !important;
  ul {
    margin: 0 auto;
  }
  li {
    display: inline-block;
    list-style: none;
    margin: 0 1.5em;
    text-align: center;
  }
}

// Hero 
.hero-body {
  height: 100vh;
  padding: 0;
  .container {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    height: 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
  }
  .hero-bg {
    // background-color: $color-bg-gray;
    background-color: #ff0000;
    position: absolute;
    height: 60vw;
    width: 100%;
    z-index: -1;
  }
  #hero-headshot {
    max-width: 50%;
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
  .hero-site-info {
    .name-container {
      display: inline-block;
      margin-bottom: 10px;
      margin-left: -50px;
    }
    .name-line {
      display: block;
      div {
        background-color: $color-secondary;
        display: inline-block;
        padding: 0.1em 0.1em;
      }
    }
    h1 {
      color: $color-white;
      text-transform: uppercase;
      line-height: 0.8em;
      font-size: 7em;
      margin: 0;
    }
    h3 {
      margin-left: 0.7em;
    }
  }
} // END HERO STYLES

// Gallery Styles
#gallery {
  background-color: $color-white;
  padding: 5em 0;
  position: relative;
  z-index: 0;
  &:after {
    content: "";
    background-color: $color-bg-gray;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }
  .container {
    z-index: 2;
  }
  .gallery {
    display: grid;
    grid-gap: 10px;
    grid-template: repeat(3, calc(32.334%)) / 1fr 1.3fr 1fr;
    margin-bottom: 0;
    .gallery-item { 
      object-fit: cover;
      object-position: 50% 50%;
      img {
        display: block;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
      }
    }
    .gallery-item:nth-of-type(4) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: -1;
    }
  }
  .gallery-bg {
    background-color: $color-bg-gray;
    position: absolute;
    bottom: 0;
    height: 55%;
    width: 100%;
    z-index: 1;
  }
  
}

// About
#about {
  padding: 5em 0;
  position: relative;
  &:after {
    content: "";
    background-color: $color-secondary;
    position: absolute;
    top: 18%;
    left: 0;
    height: 64%;
    width: 100%;
  }
  .container {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .about-text-container,
  .about-img {
    background-color: transparent;
    z-index: 1;
  }
  .about-img {
    justify-self: flex-end;
    width: 35%;
  }
  .about-img img {
    display: block;
  }
  .about-text-container {
    color: #ffffff;
    width: 50%;
    h1 {
      margin-bottom: 0.25em;
      margin-top: 0;
    }
  }
}

//RESUME
#resume {
  background-color: $color-bg-gray;
  padding: 1.5em 0 0;
  h1 {
    margin: 0;
    text-align: center; 
    text-transform: uppercase;
  }
  .resume-container {
    background-color: $color-white;
    padding: 1em 1.5em;
    margin: 0;
    &:nth-child(1) {
      grid-row-end: span 2;
    }
  } 
  .resume-details-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr 1fr;
    margin: 1em auto 3em;
  }
  .resume-banner {
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5vh 0;
    h3 {
      color: $color-white;
      text-align: center;
    }
    .btn {
      display: inline-block;
      margin: 0 auto;
    }
  }
}

// UPCOMING APPEARANCES
#upcoming-appearances {
  background-color: $color-bg-gray;
  padding: 3em 0 4em;
  h1 {
    text-align: center;
    margin: 0 auto 1em;
  }
  .appearances-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1075px;
    position: relative;
    z-index: 0;
  }
  .appearance-container {
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5em 0;
    padding: 2em;
    position: relative;
    width: 100%;
    box-shadow: -7px -6px 0 0 $color-secondary;
    div {
      display: inline-block;
    }
  }
}

// SOCIAL FEED
#follow-on-instagram {
  padding: 3em 0;
  .container {
    background-color: $color-bg-gray;
    box-shadow: -10px -10px 0 0 $color-secondary;
    padding: 1em 0 2.5em;
  }
  .gallery-grid {
    display: grid;
    width: 80%; 
    margin: 0 auto;
    max-width: 1075px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 32.334%);
    grid-gap: 5px;
  }
  .gallery-item:nth-child(1),
  .gallery-item:nth-child(6) {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }
  .gallery-item img {
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
    width: 100%;
  }
  .social-menu-item {
    display: block;
    margin: 0 auto 0.5em;
  }
  .social-menu-item i{
    color: $color-primary;
    font-size: 2.5em;
    text-align: center;
  }
}

// CONTACT
#contact {
  background-color: $color-primary;
  color: $color-white;
  padding: 4em 0;
  h1 {
    color: $color-white;
    text-align: center;
    margin: 0;
  }
  .contact-header {
    text-align: center;
  }
  .social-container {
    display: inline-block;
    margin: 0 auto;
    i {
      padding: 0 0.5em;
    }
  }
}



// SOCIAL MEDIA SIDEBAR
#social-menu {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  .container {
    width: auto;
  }
  .social-menu {
    background-color: $color-primary;
    padding: 0.75em 10px;
    .social-menu-item {
      display: block;
    }
  }
  
}