// General Styles
html,.body { margin: 0 auto; }
h1 {
  font-family: $font__header;
  text-transform: uppercase;
}
.btn {
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  font-size: 1em;
  padding: 0.75em 1.5em;
  &:hover {
    cursor: pointer;
  }
  &:visited {
    color: $color-primary;
  }
}
.btn-primary {
  background-color: $color-primary;
  color: $color-white;
  &:visited {
    color: $color-white;
  }
}
.btn-secondary {
  background-color: $color-white;
  color: $color-primary;
}
.social-menu-item {
  display: inline-block;
  text-align: center;
  padding: 0.65em 0;
  i {
    color: $color-white;
    display: inline-block;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 787px) {
  section {
    padding-left: 0;
    padding-right: 0;
  }
}

// Nav bar
.menu-wrap {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  @media only screen and (min-width: $screen-sm) {
    top: 4vh;
    width: auto;
  }
}


.menu-container {
  width: 100%;
  z-index: 3;
  transition: 
    top 450ms ease,
    width 450ms ease, 
    background-color 450ms ease;
  .navbar {
    align-items: center;
    background-color: $color-secondary;
    display: flex;
    min-height: 0;
    opacity: 1;
    height: 100vh;
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1;
    // Temp
    // display: none;
    ul {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 80%;
      width: 65%;
      justify-content: space-evenly;
      margin: 0 auto;
      padding: 4vh 0;
    }
    li {
      display: block;
      list-style: none;
      padding: 0 1.5em;
      text-align: center;
      font-size: 1.5rem;
      a {
        position: relative;
        color: $color-white;
        &:before {
          content: '';
          position: absolute;
          width: 124%;
          height: 3px;
          bottom: -7px;
          left: -12%;
          background-color: $color-primary;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        } 
        &:visited {
          color: $color-white;
        }
        &:hover {
          color: $color-white;
        }
      }
    }
    &.closed {
      opacity: 0;
      transform: translateX(60vw);
    }
  }
  @media (min-width: $screen_sm) {
    align-items: center;
    position: fixed;
    right: 0;
    width: 55%;
    display: flex;
    justify-content: space-between;
    &.overlay.open {
      top: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      border-bottom: 4px solid $color-secondary;
      .navbar {
        min-height: 4.25rem;
        width: 100%;
      }
    }
    .navbar {
      background-color: transparent;
      height: auto;
      ul {
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        padding: 0;
      }
      li {
        display: inline-block;
        font-size: 1rem;
        a {
          color: $color__link;
          &:visited {
            color: $color__link-visited;
          }
          &:hover {
            color: $color__link-hover;
          }
        }
      }
    }
    
    
  }
}
.ham-container {
  align-items: center;
  color: $color-primary;
  display: flex;
  height: 45px;
  justify-content: center;
  z-index: 2;
  text-align: center;
  vertical-align: middle;
  width: 60px;
  position: fixed;
  right: 1%;
  top: 1vh;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 5;
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: $color-primary;
    border-radius: 9px;
    opacity: 1;
    left: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  span:nth-child(1) {
    top: 10px;
  }
  
  span:nth-child(2), span:nth-child(3) {
    top: 19px;
  }
  
  span:nth-child(4) {
    top: 28px;
  }
  
  &.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  &.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  &.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  &.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  @media only screen and (min-width: $screen_sm) {
    top: unset;
  }
}

// Hero 
#hero .hero-body {
  background-color: transparent;
  padding: 0;
  position: relative;
  display: flex;
  align-items: flex-start;
  &:after {
    content: "";
    width: 100%;
    height: 70%;
    background-color: $color-bg-gray;
    position: absolute;
    z-index: 0;
  }
  .container {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  #hero-headshot {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
      object-position: 50% 0%;
      width: 100%;
    }
  }
  .hero-site-info {
    margin-top: -15vh;
    text-align: center;
    .name-container {
      display: inline-block;
      margin-bottom: 10px;
      margin-left: 0;
    }
    .name-line {
      display: block;
      div {
        font-family: $font__header;
        background-color: $color-secondary;
        display: inline-block;
        padding: 0.08em .05em;;
      }
      &:nth-of-type(1) div {
        padding-top: 0.05em
      }
      &:nth-of-type(2) div {
        padding-bottom: 0.125em;
      }
    }
    h1 {
      color: $color-white;
      text-transform: uppercase;
      line-height: 0.8em;
      font-size: 17vw;
      margin: 0;
    }
    h3 {
      color: $color__text-main;
      font-size: 1.5em;
      margin-left: 0em;
    }
  }
  @media only screen and (min-width: $screen_med) {
    height: 100vh;
    .container {
      flex-direction: row;
    }
    &:after { 
      top: 15%;
    }
    #hero-headshot {
      width: 45%;
    }
    .hero-site-info {
      margin-top: 0;
      text-align: left;
      h1{
        font-size: 9.5vw;
      }
      h3 {
        margin-left: 0.7em;
      }
      .name-container {
        margin-left: -6vw;
      }
    } 
  }
} 

// END HERO STYLES

// Gallery Styles
#envirabox-outer #envirabox-content {
  // border-width: 0 !important;
  border-radius: 0;
}
#gallery {
  background-color: $color-white;
  padding: 3em 4%;
  position: relative;
  z-index: 0;
  &:after {
    content: "";
    background-color: $color-bg-gray;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }
  .container {
    z-index: 2;
  }
  .envira-gallery-public {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 0;
    height: auto !important;
    .envira-gallery-item {
      height: 100% !important;
      padding: 0 !important;
      .envira-gallery-item-inner {
        height: 100% !important;
        width: 100% !important;
        position: relative !important;
        top: 0!important;
        left: 0 !important;
      }
      .caption {
        display: none !important;
      }
    }
    .envira-gallery-image {
      display: block;
      height: 100% !important;
      left: 0;
      margin: 0 !important;
      object-fit: cover;
      object-position: 50% 50%;
      position: relative !important;
      top: 0;
      width: 100% !important;
    }
    .gallery-item { 
      object-fit: cover;
      object-position: 50% 50%;
      
    }
    
  }
  .gallery-bg {
    background-color: $color-bg-gray;
    position: absolute;
    bottom: 0;
    height: 55%;
    width: 100%;
    z-index: 1;
  }
  .gallery-cta {
    margin: 1em auto 0;
    text-align: center;
  }
  @media only screen and (min-width: $screen_med) {
    padding: 5em 0;
    .envira-gallery-public {
      grid-template: repeat(3, 1fr) / 1fr 1fr 1fr;
      height: 70vh !important;
      .envira-gallery-item {
        height: 100% !important;
      }
      .envira-gallery-item:nth-of-type(4) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: -1;
      }
    }
  }
}

// About
#about {
  padding: 4em 0 3em;
  position: relative;
  &:after {
    content: "";
    background-color: $color-secondary;
    position: absolute;
    bottom: 0;
    height: 75%;
    width: 100%;
  }
  .container {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 4%;
  }
  .about-text-container,
  .about-img {
    background-color: transparent;
    z-index: 1;
  }
  .about-img {
    justify-self: flex-end;
    width: 100%;
    max-width: 500px;
  }
  .about-img img {
    display: block;
  }
  .about-text-container {
    color: #ffffff;
    margin-top: 1.5em;
    text-align: center;
    width: 85%;
    h1 {
      margin-bottom: 0.25em;
      margin-top: 0;
    }
    p {
      text-align: justify;
    }
  }
  .btn-primary {
    display: inline-block;
  }
  @media (min-width: $screen_med) {
    padding: 4em 0;
    &:after {
      top: 17%;
      height: 66%;
    }
    .container {
      flex-direction: row-reverse;
      padding: 0;
    }
    .about-text-container {
      text-align: left;
      margin-top: 0;
    }
    .about-text-container,
    .about-img {
      width: 50%
    }
  }
}

//RESUME
#resume {
  background-color: $color-bg-gray;
  padding: 1.5em 0 0;
  h1 {
    font-family: $font__header;
    font-size:2.25em;
    letter-spacing: 0.025em;
    margin: 0;
    text-align: center; 
    text-transform: uppercase;
  }
  h2 {
    font-family: $font__header;
    font-size: 1.5em;
    letter-spacing: 0.025em;
  }
  h3 {
    font-family: $font__header;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 800;
  }
  h4 {
    color: $color-primary;
    font-family: $font__header;
    font-weight: 600;
    font-size: 1.45em;
  }
  .resume-container {
    background-color: $color-white;
    padding: 1em 4%;
    margin: 0;
    &:nth-child(1) {
      grid-row-end: span 3;
    }
  } 
  .resume-details-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    margin: 1em 3% 1em;
    h2 {
      color: $color-primary;
      display: inline-block;
      font-weight: 800;
      margin-bottom: 0.75em;
      text-transform: uppercase;
      &:after {
        content: "";
        display: block;
        margin-top: 0.03em;
        max-width: 100%;
        width: 65%;
        border-bottom: 5px solid $color-secondary;
      }
    }
    .education-item {
      margin: 1em 0;
      &:first-of-type {
        margin-top: 0;
      }
    }
    .education-title {
      text-transform: uppercase;
    }
    .education-list,
    .experience-list,
    .experience-list-item,
    .skills-list {
      padding-left: 0.75em;
    }
    .experience-list-item {
      margin: 0.5em 0;
      &:last-of-type {
        margin-bottom: 1.75em;
      }
    }
    .list-item-title,
    .education-title {
      font-weight: bold;
      font-size: 1.15em;
    }
    .list-item-details,
    .education-detail {
      font-weight: 300;
      font-size: 1em;
    }
  }
  .resume-banner {
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.75em 0;
    h3 {
      color: $color-white;
      text-align: center;
    }
    .btn {
      display: inline-block;
      margin: 0 auto;
    }
  }
  @media screen and (min-width: $screen_med) {
    .resume-container {
      padding: 1em 1.5em;
    }
    .resume-details-container {
      margin: 1em auto 3em;
      grid-template-columns: 1.5fr 1fr;
      .experience-list,
      .experience-list-item {
        padding-left: 2em;
      }
    }
  }
}

// Videos
#videos {
  padding: 2.5em 4%;
  .video-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-auto-rows: 52vw;
  }
  .video-item {
    height: 100%;
  }
  .video-item iframe{
    height: 100%;
    width: 100%;
  }
  @media screen and (min-width: $screen_med) {
    padding: 4em 4%;
    .video-grid {
      grid-template-columns: 1.75fr 1fr;
      grid-template-rows: repeat(2, minmax(250px, 25vh));
    }
    .video-item:nth-of-type(1) {
      grid-row: span 2;
    }
  }
}

// UPCOMING APPEARANCES
#upcoming-appearances {
  background-color: $color-bg-gray;
  padding: 3em 4% 4em;
  h1 {
    text-align: center;
    margin: 0 auto 1em;
  }
  .appearances-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1075px;
    position: relative;
    z-index: 0;
  }
  .appearance-container {
    background-color: $color-primary;
    color: $color-white;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5em 0;
    padding: 2em 1.25em;;
    position: relative;
    width: 100%;
    box-shadow: -6px -6px 0 0 $color-secondary;
  }
  .appearance-cta {
    display: grid;
    align-items: center;
    white-space: nowrap;
  }
  .appearance-cta a {
    margin: 1em auto 0;
  }
  .appearance-date {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.25em;
    span{
    font-size: 2.0em;
    font-weight: bold;
    }
  }
  .appearance-details {
    font-weight: 300;
    text-align: center;
  }
  .appearance-name {
    font-size: 2em;
    font-weight: 300;
    line-height: 1em;
    padding: 1rem 0 0.75rem;
    text-align: center;
  }
  .appearance-text-container {
    padding: 0 1em;
  }
  
  @media (min-width: $screen_med) {
    .appearance-container {
      box-shadow: -7px -6px 0 0 $color-secondary;
      grid-template-columns: 1fr 3fr 1fr;
      padding: 2em;
    }
    .appearance-cta a {
      margin-top: 0;
    }
    .appearance-date {
      text-align: left;
    }
    .appearance-name {
      padding: 0rem 0 0.5rem;
    }
  }
}

// SOCIAL FEED
#follow-on-instagram {
  padding: 1.5em 5%;
  .container {
    background-color: $color-bg-gray;
    box-shadow: -10px -10px 0 0 $color-secondary;
    padding: 1em 0 2.5em;
  }
  .gallery-grid {
    padding: 0 4%;
  }
  #sb_instagram {
    max-width: 1075px !important;
    .sbi_item .sbi_photo_wrap {
      height: 100%;
    }
    .sbi_item .sbi_photo_wrap a {
      height: 100% !important;
    }
  }
  #sbi_images {
    display: grid;
    width: 100%; 
    margin: 0 auto;
    max-width: 1075px !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
    height: 140vh;
  }
  .sbi_item:nth-child(1),
  .sbi_item:nth-child(6) {
    // grid-column-end: span 2;
    // grid-row-end: span 2;
  }
  .social-menu-item {
    display: block;
    margin: 0 auto 0.5em;
  }
  .social-menu-item i{
    color: $color-primary;
    font-size: 2.5em;
    text-align: center;
  }
  @media screen and (min-width: $screen_med) {
    padding: 3rem 4%;
    .gallery-grid {
      padding: 0;
    }
    #sbi_images {
      grid-auto-flow: dense;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);
      height: 50vh;
    }
    .sbi_item:nth-child(1),
    .sbi_item:nth-child(6) {
      grid-column-end: span 2;
      grid-row-end: span 2;
    }
    .sbi_item:nth-child(2) {
      grid-column-start: 1;
    }
    .sbi_item:nth-child(3) {
      grid-column-start: 2;
    }

    .sbi_item:nth-child(6) {
      grid-column-start: 3;
    }
  }
}

// CONTACT
#contact {
  background-color: $color-primary;
  color: $color-white;
  padding: 1.5em 5%;
  h1 {
    color: $color-white;
    font-family: $font__header;
    text-align: center;
    margin: 0;
  }
  h3 {
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  .contact-form form {
    p {
      margin: .25em auto;
      &:last-of-type {
        margin-top: 0;
      }
    }
    input,
    textarea {
      border: 1px solid $color-white;
      background-color: transparent;
      border-radius: 0;
      color: $color-white;
      padding: .25em 0.45em;
      width: 100%;
      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
      &:focus {
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid $color-white;
      }
    }
    input[type="submit"] {
      background-color: $color-white;
      border: 1px solid $color-white;
      color: $color-primary;
      font-weight: bold;
      padding: 1em 6em;
      width: auto;
      text-transform: uppercase;
      transition: all 0.2s ease;
      &:hover {
        cursor: pointer;
        color: $color-white;
        background-color: transparent;
      }
    }
  }
  .contact-header {
    text-align: center;
    text-transform: uppercase;
  }
  .contact-info-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    > div {
      width: 100%;
    }
    @media (min-width: $screen_lrg) {
      grid-template-columns: 1fr minmax(500px, 1fr);
      grid-gap: 10em;
    }
  }
  .social-container {
    display: inline-block;
    margin: 0 auto;
    i {
      padding: 0 0.5em;
    }
  }
  @media screen and (min-width: $screen_lrg) {
    padding: 4em 5%;
  }
}

// SOCIAL MEDIA SIDEBAR
#social-menu {
  position: fixed;
  right: 0;
  opacity: 0;
  top: 50%;
  transition: opacity 450ms ease;
  transform: translateY(-50%);
  z-index: 5;
  &.open {
    opacity: 1;
    display: block;
  }
  .container {
    width: auto;
  }
  .social-menu {
    background-color: $color-primary;
    padding: 0.75em 10px;
    .social-menu-item {
      display: block;
    }
  }
  @media screen and (min-width: $screen_sm) {
    opacity: 1;
    display: block;
  }
}

// SCROLL TO TOP BUTTON
#scroll-to-top {
  z-index: 5;
  transition: all 450ms ease;
  opacity: 0;
  
  button {
    border: none;
    border-radius: 50%;
    color: $color-white;
    height: 60px;
    width: 60px;
    background-color: $color-primary;
    font-size: 2em;
    outline: 0;
    padding: 0;
    position: fixed;
    bottom: 1vw;
    left: 1vw;
    z-index: 5;
    &:hover {
      cursor:pointer;
    }
  }
  &.active {
    opacity: 1;
  }
}