.post-archive {
  h1 {
    color: $color-primary;
    text-align: center;
  }
  h2 {
    color: #515151;
    font-size:1.25em;
    margin-bottom: 0;
    text-align: left;
    text-transform: uppercase;
  }
  section {
    margin-top: 1.5em;
  }
  .entry-content {
    margin-top: 0; 
    .caption {
      opacity: 0 !important;
    }
  }
  .entry-header h2 {
    font-family: $font__header;
    font-weight: bold;
  }
  .entry-title {
    padding-bottom: 5px;
  }
  .hero {
    margin-top: 0;
  }

}