.menu-wrap {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 3;
  right: 0;
  top: 0;
  width: 0;
  .menu-container {
    width: 100%;
    z-index: 3;
    transition:
      transform 450ms ease,
      top 450ms ease,
      width 450ms ease, 
      background-color 450ms ease;
    .navbar {
      align-items: center;
      background-color: $color-secondary;
      border: 10px solid $color-primary;
      display: flex;
      min-height: 0;
      opacity: 1;
      height: 100vh;
      width: 100%;
      transition: transform 0.3s ease, opacity 0.3s ease;
      z-index: 1;
      ul {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 90%;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 4vh 0;
      }
      li {
        display: block;
        list-style: none;
        padding: 0 0.25em;
        text-align: center;
        font-size: 1.5rem;
        a {
          position: relative;
          color: $color-white;
          &:before {
            content: '';
            position: absolute;
            width: 124%;
            height: 3px;
            bottom: -7px;
            left: -12%;
            background-color: $color-primary;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s;
          }
          &:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          } 
          &:visited {
            color: $color-white;
          }
          &:hover {
            color: $color-white;
          }
        }
      }
      &.closed {
        opacity: 0;
        transform: translateX(60vw);
      }
    }
  }
  &.open {
    width: 100%;
  }
  @media only screen and (min-width: $screen-sm){
    // min-width: 400px;
    &.open {
      min-width: 400px;
      width: 50%;
    }
  }
  @media (min-width: $screen_xl) {
    top: 4vh;
    width: auto;
    .menu-container {
      align-items: center;
      position: fixed;
      right: 10px;
      width: 55%;
      display: flex;
      justify-content: space-between;
      &.overlay.open {
        top: 0;
        right: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        border-bottom: 4px solid $color-secondary;
        .navbar {
          min-height: 4.25rem;
          width: 100%;
        }
      }
      .navbar {
        background-color: transparent;
        border: 0;
        height: auto;
        ul {
          background-color: transparent;
          display: flex;
          flex-direction: row;
          height: auto;
          padding: 0;
        }
        li {
          display: inline-block;
          font-size: 1rem;
          a {
            color: $color__link;
            &:visited {
              color: $color__link-visited;
            }
            &:hover {
              color: $color__link-hover;
            }
          }
        }
      }
    }
  }
}
.menu-wrap.alt-page-menu {
  position: relative;
  padding: 15px 2%;
  top: 0px;
  min-width: 0;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  .menu-logo {
    display: block;
    div {
      color: #ffffff;
      display: block;
      font-family: $font__header;
      font-weight: bold;
      font-size: 3rem;
      line-height: 2.75rem;
      letter-spacing: -0.025em;
      padding: 0 1rem;
      text-align: center;
      text-transform: uppercase;
      &:nth-child(1) span {
        padding-top: 5px;
      }
      &:nth-child(2) span {
        padding-bottom: 8px;
      }
    }
    span {
      background-color: $color-secondary;
      display: inline-block;
      padding-left: 0.25em;
      padding-right: 0.25em;
    }
  }
  .menu-container {
    width: 100%;
    right: 0;
  }
  .spacer {
    font-weight: 400;
    align-self: flex-start;
    width: auto;
    margin-bottom: 1rem;
  }
  @media only screen and (min_width: $screen-sm) {
    flex-direction: row;
    .spacer {
      margin-bottom: 0;
      width: 15vw;
    }
  }
}

.ham-container {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  color: $color-primary;
  display: flex;
  height: 60px;
  justify-content: center;
  z-index: 2;
  text-align: center;
  vertical-align: middle;
  width: 60px;
  position: fixed;
  right: 0%;
  top: 0vh;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 5;
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: $color-primary;
    border-radius: 9px;
    opacity: 1;
    left: 18px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  span:nth-child(1) {
    top: 17px;
  }
  
  span:nth-child(2), span:nth-child(3) {
    top: 26px;
  }
  
  span:nth-child(4) {
    top: 35px;
  }
  &.open {
    background-color: transparent;
  }
  
  &.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  &.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  &.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  &.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  @media only screen and (min-width: $screen_lrg) {
   
  }
}