// General Styles
html,.body { margin: 0 auto; }
h1 {
  font-family: $font__header;
  text-transform: uppercase;
}
.btn {
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  font-size: 1em;
  padding: 0.65em 1.5em;
  &:hover {
    cursor: pointer;
  }
  &:visited {
    color: $color-primary;
  }
}
.btn-primary {
  background-color: $color-primary;
  border: 2px solid $color-primary;
  color: $color-white;
  transition: all 250ms ease;
  &:visited {
    color: $color-white;
  }
  &:hover {
    background-color: transparent;
    color: $color-primary;
  }
}
.btn-secondary {
  background-color: $color-white;
  border: 2px solid $color-white;
  color: $color-primary;
  transition: all 250ms ease;
  &:hover {
    background-color: transparent;
    color: $color-white;
  }
}
.social-menu-item {
  display: inline-block;
  text-align: center;
  padding: 0.65em 0;
  transition: all 500ms ease;
  i {
    color: $color-white;
    display: inline-block;
    font-size: 1.5rem;
    
  }
  &:hover {
    text-shadow: -0.20rem -0.20rem 0 $color-secondary;
  }
}
html.no-scroll,
body.no-scroll {
  overflow-y: hidden;
}

@media only screen and (min-width: $screen_med) {
  html.no-scroll,
  body.no-scroll {
    overflow-y: auto;
  }
  section {
    padding-left: 0;
    padding-right: 0;
  }
}